$font: "Poppins", "Arial", sans-serif;
$font-title: "Cormorant Garamond", "Arial", sans-serif;
$mobile-width: 320px;
$mobile-max-width: 767px;
$tablet-width: 768px;
$tablet-max-width: 1023px;
$desktop-width: 1024px;
$desktop-container-width: 1170px;
$desktop-max-width: 1365px;
$white: #ffffff;
$black: #000000;
$light-black: #1d1613;
$gray: #9b9997;
$lignt-gray: #f6f5f4;
$brown: #a87b62;
$light-brown: #f0eae4;
$shadow: rgba(219, 213, 208, 0.24);
